.title-header {
    font-size: 50px;
    font-weight: bold;
    color: yellow;
    background-color: darkblue;
    padding: 10px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 2px;
    padding: 2px;
    width: 400px;
    height: 400px;
}

.card-header {
    text-align: left;
    color: black;
    font-weight: bold;
}

.card-body {
    text-align: center;
    margin-top: 10px;
}

.gpa{
         text-align: right;
         font-weight: normal;
     }

img {
    width: 200px;
    height: 250px;
    align: center;
}
