@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="title-header">
    <h1>WVU Tech Graduating Class</h1>
    </div>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					Kylian Mbappe
					<div class="gpa">GPA: 2.6</div>
				</div>
				<div class="card-body">
					<img src="~/images/MBAPPE.jpg" />
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">
					Lionel Messi 
					<div class="gpa">GPA: 3.2</div>
				</div>
				<div class="card-body">
					<img src="~/images/MESSI.jpg" />
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">
					Cristiano Ronaldo
					<div class="gpa">GPA: 4.0</div>
				</div>
				<div class="card-body">
					<img src="~/images/CR7.jpg"/>
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">
						Nemyar Jr
						<div class="gpa">GPA: 3.7</div>
					</div>
					<div class="card-body">
						<img src="~/images/NEYMAR.jpg" />
						<p class="card-text">2025</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						Luis Suarez
						<div class="gpa">GPA: 2.4</div>
					</div>
					<div class="card-body">
						<img src="~/images/SUAREZ.jpg" />
						<p class="card-text">2025</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						Vinicius Jr
						<div class="gpa">GPA: 3.8</div>
					</div>
					<div class="card-body">
						<img src="~/images/VINI.jpg" />
						<p class="card-text">2025</p>
					</div>
				</div>
			</div>
		</div>
