@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="title-header">
    <h1>WVU Tech Graduating Class</h1>
    </div>

<div class="container">
	<div class="row">
		<div class="col-md-4 text-center">
			<div class="card h-80">
				<div class="card-header d-flex justify-content-between text-start fw-bold">
				Kylian Mbappe
				<div class="text-end fw-normal">GPA: 2.6</div>
				</div>
				<div class="card-body">
					<img src="~/images/MBAPPE.jpg" class="h-80 w-50"/>
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="card h-80">
				<div class="card-header d-flex justify-content-between text-start fw-bold">
				Lionel Messi
				<div class="text-end fw-normal">GPA: 3.2</div>
				</div>
				<div class="card-body">
					<img src="~/images/MESSI.jpg" class="h-80 w-50" />
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="card h-100">
				<div class="card-header d-flex justify-content-between text-start fw-bold">
				Cristiano Ronaldo
				<div class="text-end fw-normal">GPA: 4.0</div>
				</div>
				<div class="card-body">
					<img src="~/images/CR7.jpg" class="h-80 w-50" />
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
	</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 text-center">
			<div class="card h-80">
				<div class="card-header d-flex justify-content-between text-start fw-bold">
				Neymar Jr
				<div class="text-end fw-normal">GPA: 3.7</div>
				</div>
				<div class="card-body">
					<img src="~/images/NEYMAR.jpg" class="h-80 w-50" />
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="card h-80">
				<div class="card-header d-flex justify-content-between text-start fw-bold">
				<div class="col-md-6 fw-bold text-start">
				Luis Suarez</div>
				<div class="text-end fw-normal">GPA: 2.4</div>
				</div>
				<div class="card-body">
					<img src="~/images/SUAREZ.jpg" class="h-80 w-50" />
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="card h-100">
				<div class="card-header d-flex justify-content-between text-start fw-bold">
				Vinicius Jr
				<div class="text-end fw-normal">GPA: 3.8</div>
				</div>
				<div class="card-body">
					<img src="~/images/VINI.jfif" class="h-80 w-50" />
					<p class="card-text">2025</p>
				</div>
			</div>
		</div>
	</div>
